{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- HERO SECTION -->
<div class="hero-wrapper hero-no-image">


    <section class="hero-text">
        <h1 class="hero-title">Discover what you really eat</h1>
        <p>
            Scan barcodes or search foods to instantly see sugar, protein, carbs and more.
        </p>
        <a href="{{ url_for('barcode_scan') }}" class="btn-primary">START</a>
    </section>

    <!-- <div class="hero-image" style="margin-top: 66px;">
        <img 
        id="heroVisual"
        src="{{ url_for('static', filename='barcode.gif') }}" 
        alt="Barcode animation"
        >
    </div> -->


</div> 


<!-- HOW IT WORKS (steps under the hero section) -->
<section class="steps-flow">
    <div class="flow-container">

        <!-- Step 1 -->
        <div class="flow-box">
            <div class="flow-icon">
                <img src="{{ url_for('static', filename='scan1.gif') }}" alt="Barcode animation">
            </div>
            <h3>Scan barcode</h3>
        </div>

        <div class="flow-arrow">
            <img src="{{ url_for('static', filename='arrow1.gif') }}" alt="Barcode animation">
        </div>

        <!-- Step 2 -->
        <div class="flow-box">
            <div class="flow-icon">
                <img src="{{ url_for('static', filename='bar chart.gif') }}" alt="Barcode animation">
            </div>
            <h3>Instant breakdown</h3>
        </div>

        <div class="flow-arrow">
            <img src="{{ url_for('static', filename='arrow1.gif') }}" alt="Barcode animation">
        </div>

        <!-- Step 3 -->
        <div class="flow-box">
            <div class="flow-icon">
                <img src="{{ url_for('static', filename='health.gif') }}" alt="Barcode animation">
            </div>
            <h3>Healthier choices</h3>
        </div>

    </div>
</section>

<style>
  body {
    position: relative;
    min-height: 100vh;
    margin: 0;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("{{ url_for('static', filename='logo2.png') }}"); /*  logo */
    background-size: 900px auto;   /* veličina slike sa logom */
    background-repeat:no-repeat;     /* šara po cijeloj stranici */
    background-position: center 5px;
    opacity: 0.03;                 
    z-index: -1;                   
    pointer-events: none;
  }
</style>

{% endblock %}
